import { FC, memo } from 'react';
import style from './index.module.scss';

interface I<%= name %> {
  
}

const <%= name %>:FC<<%= name %>> = memo(() => {
  return (
    <div>
      <%= name %>
    </div>
  );
});

export default <%= name %>;
